body {
	background-color: #BDBDBD;
	font-size: 13px;
	font-family: Helvetica, "MS Verdana", sans-serif;
	width: 1000px;
	height: 1500px;
	margin: 0px auto;
	background-image: url(../paginas/imagenes/01150_webdew_2560x1600.jpg);
	background-repeat: repeat-y;
}

#mensaje {
	/*display: none;*/
	visibility: hidden;
	width: 0;
	height: 0;
}

p#moto { 
	color: #c0c0c0;
	font-size: 35px;
	font-family: Helvetica, "MS Verdana", sans-serif;
	font-weight: 800;
}

ul#ul1 {
	list-style-type: none;
}

a:visited {
	color: #AD0BD5;
}

div#div1 {
	width: 320px;
	height: 320px;
	background-color: #BDBDBD;
}

div#div2 {
	float: left;
	font-size: 20px;
}

div#div3 {
	float: right;
	font-size: 20px;
}

.ulnuevo {
	list-style-type: none;
	font-size: 20px;
	font-family: Helvetica, "MS Verdana", sans-serif;	
	background-color: #BDBDBD;
	width: 375px;
	height: 230px;
	padding: 10px 10px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
	float: left;
	border-radius: 30px;
}

div#ocultar {
	visibility: hidden;
}

.ulnuevo1 {
	list-style-type: none;
	font-size: 20px;
	font-family: Helvetica, "MS Verdana", sans-serif;
	background-color: #BDBDBD;
	width: 800px;
	height: 300px;
	padding: 10px 10px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
}

.liubicacion {
	float: left;
}

.imgubicacion {
	float: right;
}

div#divEspecificaciones	{
	clear: left;
}

.liCelulares {
	margin-left: 10px;
	margin-top: 0px auto;
	margin-bottom: 0px auto;
}